<div class="container">
  <div ng-controller="CalendarCtrl">
    <label> Name: </label>
    <h1> Hello {{message}}</h1>

    <div class="well">
      <div ui-calendar="uiConfig.calendar" ng-model="eventSources">
    </div>
  </div>
</div>

